@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    background-color: brown;
    width: 100%;
    height: 4rem;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    .logo {
        width: 15%;
        height: 100%;
        background-color: black;
        color: white;
        font-family: 'Peralta', sans-serif;
        font-size: 3rem;
        text-align: center;
    }
}

.menu {
    width: 85%;
    height: 100%;
    background-color: #3DD0FF;

    &_list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    &_item {
        
    }   
}